ion-content ion-toolbar {
    --background: transparent;
  }

.padding {
  font-size: 25px !important;
  padding-bottom: 1.25em !important;
}

.AdminHome {
  padding-top: 1em;
  padding-bottom: .25em;
  font-size: 28px;
}


.IonInput {
  --padding-top: 5px !important;
  padding-left: 10px !important;
  --background: rgb(243, 243, 243);
  --color: black;
  border-radius: 0px !important;
}

.archiveTitle {
  font-size: 25px !important;
}

.IonButton{
  --padding-end: 0em !important;
  --padding-bottom: 2em !important;
  --padding-top: 2em !important;
}

ion-label.label {
    font-size: 30px !important; 
    font-style: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    
}

.font-size {
    font-size: 18px !important;
}

